<div class="container_cat">

  <div  [formGroup]="formCreation"  *ngIf="ismodal" class="modalcreation">
      <div class="modal_show" style="z-index: 200;">
        <div>
          <label class="labelCategorie" >Nouveau Rayon</label>
        </div>
        <div class="input">
          <input class="form-control"  formControlName="rayon" placeholder="Titre" type="text">
        </div>
        <div class="butonn">
          <div class="btn1">
            <button  (click)="creationRayon()">Ok</button>
          </div>
          <div class="btn2">
          <button (click)="fermerModal()">Annuler </button>
          </div>
        </div>
      </div>
  </div>
  <div   *ngIf="modalSup" class="modalcreation">
    <div  class="modal_show" style="z-index: 200;background-color: rgb(248, 98, 98);">
      <div>
        <label class="labelCategorie" >Confirmation </label>
      </div>
      <div class="input">
        <span>Voulez vous vraiment suprimer <h5>{{textModif}}?</h5></span>
      </div>
      <div class="butonn">
        <div class="btn1">
          <button  (click)="deleteRayon()">Ok</button>
        </div>
        <div class="btn2">
        <button (click)="modalSup=false">Annuler </button>
        </div>
      </div>
    </div>
</div>
  <div  [formGroup]="formModification"  *ngIf="modalMod" class="modalcreation">
    <div class="modal_show" style="z-index: 200;">
      <div>
        <label class="labelCategorie" >Modification</label>
      </div>
      <div class="input">
        <input [(ngModel)]="inputValue" class="form-control"  formControlName="rayon" placeholder="Titre" type="text">
      </div>
      <div class="butonn">
        <div class="btn1">
          <button [disabled]="inputValue === textModif"  (click)="handleModification(inputValue)">Enregistrer</button>
        </div>
        <div class="btn2">
        <button (click)="modalMod=false">Annuler </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="z-index: 100;">
    <div class="card-header">
      <label class="btn"
      (click)="showModal()">+ Nouveau Rayon </label>
    </div>
    <div class="card-body">
      <table class="table" >
        <thead>
          <tr>
            <th>
             id
            </th>
            <th>
              Type
            </th>

          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of listRay">
            <td>
              {{item.id}}
            </td>
            <td>
              {{item.rayon}}
            </td>

            <td class="action">
              <button [disabled]="modalMod || modalSup" class="mod" (click)="handleValidation(item.rayon,item.id!)" ><i class="bi bi-pen"></i></button>
              <button [disabled]="modalMod || modalSup" class="sup" (click)="handleConfirmation(item.rayon,item.id)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

