<div class="login_authentication">
	<div class="login-box">
		<form [formGroup]="loginForm" (ngSubmit)="authentification()">
			<div class="login">
				<h2 class="titre">
        Bonjour chez vous !
        </h2>
        <label class="minititre">
        On est ravi de vous (re)voir
        </label>
        <label class="minititre2">
        Connectez-vous avec votre compte
        </label>
				<div class="input_box">
					<span class="icon">
						<i class="bi bi-envelope-fill"></i>
					</span>
					<input type="email"  formControlName="email">
					<label for="">Email</label>
					<small *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].touched"
						class="text-danger">Email invalid(@)</small>
				</div>

				<div class="input_box">
					<span class="icon" >
						<i class="bi bi-lock-fill" ></i>
					</span>
					<input type="password" formControlName="password">
					<label for="">Mot de passe</label>
					<small *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched"
						class="text-danger">8 à 20 mots</small>
				</div>
				<div class="button_confirm">
					<button [disabled]="!loginForm.valid" type="submit">Se connecter</button>
				</div>
				<div class="register_new">
					<p>[<a class="regist" href="/inscription">Mot de passe oblié</a>]</p>
				</div>
			</div>
		</form>

	</div>
  <div class="login-box">
		<form [formGroup]="loginForm" (ngSubmit)="authentification()">
			<div class="login">
				<h2 style="margin-bottom: 2rem;" class="titre">Pas encore de compte ?
        </h2>
        <label class="minititre">
        En Chanté ,c'est VIDIZY ! Que diriez-vous de créer un compte?
          </label>
        <label class="minititre2">
          Plus de 50 000 produits dans notre Catalogue
        </label>
        <label class="minititre">
          Provenant de plusieurs entrepôt 
        </label>
        <label class="minititre">
          Paiement securisé
        </label>
		
				<div class="button_confirm">
					<button [disabled]="!loginForm.valid" type="submit">Créer un Compte</button>
				</div>
			
			</div>
		</form>

	</div>
</div>
